<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="ownFile-web" fileName="ownlog.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}| body: ${aspnet-request-posted-body}" />

		<target xsi:type="Database"
				name="database"
				connectionString="server=(localdb)\MSSQLLocalDB; Database=DebugLogWeekOpdrachtDB; Initial Catalog=DebugLogWeekOpdrachtDB; Integrated Security=True; trusted_connection=true;"
				connectionStringName="NLog"
				dbProvider="sqlserver"
				keepConnection="true">

			<commandText>
				Insert into dbo.Logs
				([Date], [Level], [Message], [Logger])
				VALUES
				(@date, @level, @message, @logger);
			</commandText>

			<parameter name="@date" layout="${longdate}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@logger" layout="${logger}"/>

		</target>
		
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="database" />

		<!-- Put on for file logging-->
		<!-- <logger name="*" minlevel="Trace" writeTo="ownFile-web" /> -->
	</rules>
</nlog>